*
{
  margin: 0;
  padding: 0;
}
html
{
  font-size: 30px;
}

body
{
  width: 100%;
  height: 100vh;
  background:#F5FFFA;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container
{
  width: 50vw;
  height:auto;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.6);
  box-sizing: border-box;
}

#heading
{
  color:#fff;
  font-size: 1.7rem;
}
#time
{
padding: 2rem 0;
font-size: 2rem;
position: relative;
}

.digits,.txt
{
  color: #f8f8f8;
}
.txt
{
  font-size: 0.5rem;
}
.btn-container
{
  margin: 1rem;
}
.btn
{
  padding: 0.4rem 1rem;
  margin: 0 0.2rem;
  border-radius: 10px;
  border: 1px solid #f8f8f8;
  transition: all .5s linear;
  position: relative;

}
.btn:hover
{
  background-color: rgba(0,0,0,0.4);
  color: #f8f8f8;
 
}
.btn span
{
font-size: 1.0rem;
}
.green
{
  background-color: green;
  color: white;
}
.red
{
  background-color: red;
  color: white;
}
.yellow
{
  background-color: yellow;
  color: white;
}


@media screen and (max-width: 1015px) 
{
 html
 {
  font-size: 20px;
 }
}
@media screen and (max-width: 680px) 
{
 html
 {
  font-size: 18px;
 }
}
@media screen and (max-width: 600px) 
{
 html
 {
  font-size: 25px;
 }
 .container
 {
  width: 90%;
  height: 80vh;
 }

}
@media screen and (max-width: 450px) 
{
 html
 {
  font-size: 30px;
 }
 body
 {
  background-color: antiquewhite;
 }
 
 .container
 {
  width: 100%;
  height: 100vh;
  background-color: #E0FFFF;

 }
 .digits,.txt,#heading
{
  color: #4B0082;
}
.btn
{
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.btn span
{
  font-size: 1.2rem;
}
}